<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Histoire
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <h2>JAMES BOND & ASTON MARTIN</h2>
    <h4>une grande histoire d'amour</h4>
  </div>
  <div class="debut">
    <p>Difficile de ne pas évoquer le célèbre agent 007 lorsqu'on parle d'Aston Martin. C'est dans « Goldfinger », en 1964, que l'on aperçoit pour la première fois Sean Connery au volant d'une DB5. Aston Martin devient alors la voiture de prédilection de l'espion britannique.</p>
      <img src="https://m.media-amazon.com/images/I/81xpd+78zdL._AC_SL1404_.jpg">
  </div>
 
</ion-content>