<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Histoire
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <h2>ASTON MARTIN</h2>
    <h4>une réputation historique</h4>
  </div>
  <div class="debut">
    <h2>Contexte</h2>
    <p>Aston Martin est l'un des constructeurs automobiles les plus emblématiques 
      de Grande-Bretagne. La marque ailée a été aperçue dans les grandes villes,
      au cinéma et sur les circuits automobiles les plus prestigieux.</p>
      <img src=" https://amsc-prod-cd.azureedge.net/-/media/aston-martin/images/brand/brand_07_asset_14.jpg?h=1000&width=2880&format=webp&quality=75">
  </div>
  <div class="milieu">
    <h2>Débuts</h2>
    <p>La première Aston Martin sort des usines en 1913. À vocation sportive, elle a pour objectif de tenir la dragée haute à Bugatti. La marque préfère laisser de côté les grands prix pour se spécialiser dans les courses d'endurance.</p>
    <img src="https://www.turbo.fr/sites/default/files/styles/article_690x405/public/migration/image_parse/8789122.jpg?itok=rH5XnKWz">
  </div>
  <div class="sombre">
    <h2>Période sombre et renaissance</h2>
    <p>Les années suivantes, Aston Martin rencontre des difficultés financières et est racheté par David Brown Limited en 1947. La marque britannique connaît alors une nouvelle période dorée avec de grands succès en compétition. En 1948, elle remporte les 24 heures de Spa.</p>
    <img src="https://images.squarespace-cdn.com/content/v1/5caed8960cf57d49530e8c60/1605944815873-FJNRRGNG5129AIS2PZX4/art-mg-astonmartindb2s1b.jpg">
  </div>
  <div class="ford">
    <h2>Rachat par Ford et retour en force en compétition</h2>
    <p>Entre les années 1970 et 1980, Aston Martin est racheté par des investisseurs américains et grecs, avant d'être repris par Ford en 1987. Le célèbre fabricant américain tente de relancer la firme britannique en lançant plusieurs modèles : DBS V8, Volante, Vantage…</p>
    <img src="https://www.turbo.fr/sites/default/files/styles/article_690x405/public/migration/image_parse/8789126.jpg?itok=Ta3yh7JB">
  </div>
  <div class="consecration">
    <h2>Consécration</h2>
    <p>Ses victoires en compétition et ses nombreuses apparitions dans le monde du septième art ont permis à Aston Martin de devenir une marque automobile incarnant le luxe, l'élégance, le glamour et le dépassement des limites.
      Peu de constructeurs ont réussi à briller de la sorte sur plusieurs scènes pendant aussi longtemps.</p>
    <img src="https://amsc-prod-cd.azureedge.net/-/media/aston-martin/images/brand/brand_07_asset_36.jpg?h=730&width=320&format=webp&quality=75">
  </div>
 
</ion-content>